.aboutMe-section {
  height: 100vh;
  margin-top: 0;
  padding: 0 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.timeline {
  --accent: #fc11bd;
  --text: #0a0f2b;
  --line: #fc11bd;
  color: var(--text);
  max-width: 820px;
  width: 100%;
  padding: 24px;
  margin: 0 auto;
}

.timeline h1 {
  border-left: 3px solid var(--accent);
  padding: 6px 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.timeline ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(var(--items), 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.timeline ul:before {
  content: '';
  position: absolute;
  top: 50%;
  width: 100%;
  border-top: 2px solid var(--text);
  left: 9px;
}

.timeline ul::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid var(--accent);
}

.timeline ul li {
  --circle-size: 10px;
  grid-column: var(--index);
  overflow: hidden;
  position: relative;
  height: calc(100% + var(--circle-size) * 0.5);
}

.timeline ul li h3 {
  font-size: 12px;
  margin-bottom: 4px;
}

.timeline ul li p {
  font-size: 12px;
  margin-top: 2px;
  line-height: 1.4;
}

.timeline ul li:after {
  content: '';
  width: var(--circle-size);
  height: var(--circle-size);
  background: var(--line);
  position: absolute;
  bottom: 0;
  left: var(--circle-size);
  border-radius: 100px;
  transform: translateX(-50%);
  z-index: 1;
}

.timeline ul li:nth-child(even):after {
  bottom: auto;
  top: 0;
}

.timeline ul li:nth-child(even) {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
  margin-top: calc(var(--circle-size) * -0.45);
}

.timeline ul li:nth-child(odd) p:after,
.timeline ul li:nth-child(even) h3:before {
  content: "";
  display: block;
  border-left: 1.5px dashed var(--text);
  height: 100vh;
  margin-top: 8px;
  position: absolute;
  left: calc(var(--circle-size) - 1px);
}

.timeline ul li:nth-child(even) h3:before {
  height: 30px;
  top: 0;
  bottom: auto;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .timeline {
    padding: 20px;
  }

  .timeline h1 {
    font-size: 16px;
    padding: 4px 8px;
  }

  .timeline ul li h3 {
    font-size: 9px;
  }

  .timeline ul li p {
    font-size: 9px;
  }

  .timeline ul li {
    --circle-size: 7px;
  }

  .timeline ul:before {
    border-top: 1.5px solid var(--text);
  }

  .timeline ul li:nth-child(odd) p:after,
  .timeline ul li:nth-child(even) h3:before {
    border-left: 1px dashed var(--text);
  }
}
